/* ==== VARIABLES ==== */

$primary-color: white;
$secondary-color: #ebe6c6;
$tertiary-color: #9b9999;
$quarternary-color: gold;
$quinary-color: rgb(29, 26, 26);
$senary-color: rgb(248, 232, 143);
$septenery-color: rgba(0, 0, 0, 0.6);

$font-stack: "Futura", Helvetica, Arial, sans-serif;
$base-font-size: 1.1em;